package configuration

// Copy this file to "configuration.go" and fill with your own values!

//--- Train-specific variables
const TrainName = "The unique name of your train"
const TrainModel = "The model used to show correct image in front"
const TrainIP = "The IP address of this train (must be unique!)"

//--- Connection details to WiFi network
const WiFiSSID = "Your WiFi SSID"
const WiFiPassword = "Your WiFi secret password"

//--- Connection details to cental server
const ServerAddr = "The central server's addr, in ip:port format (no DNS !)"
var ServerMAC = [6]byte{0x00, 0x00, 0x00, 0x00, 0x00, 0x00}
